<% include header.ejs %>

<div class="title-container">
    <div class="main-title">Modification du stock du stand :</div>
</div>
<br>
<br>
<form action="/modifierStock/<%= idStand %>" method="POST" class="form-container" id="standForm">

    <div class="stand-title">Stand : <%=nomStand%></div>
    <br>
    <br>
    <label for="produitDuStand" class="subtitle_stand">Produits du stand :</label>

    <%
    // Trier les produits en fonction de leur stock
    const produitsAvecStock = produits.filter(produit => produitsStand.find(standProduit => standProduit.id_produit === produit.id));
    const produitsSansStock = produits.filter(produit => !produitsStand.find(standProduit => standProduit.id_produit === produit.id));

    produitsAvecStock.forEach(produit => { %>
        <br>
        <div class="product-container">
            <div>
                <span><%= produit.nom.charAt(0).toUpperCase() + produit.nom.slice(1) %> :</span>
                <br>
                <br>
                <input type="number" name="stock_<%= produit.id %>" placeholder="Stock initial" min="0">
            </div>
            <div>
                <label for="stock_<%= produit.id %>">Stock actuel : <%= produitsStand.find(standProduit => standProduit.id_produit === produit.id).stock %></label>
                <p>____________________________</p>
            </div>
        </div>
    <% }); %>
    <br>
    <br>
    <label for="produitDuStand" class="subtitle_stand">Produits non disponibles :</label>
    <% produitsSansStock.forEach(produit => { %>
        <div class="product-container">
            <div>
                <span><%= produit.nom.charAt(0).toUpperCase() + produit.nom.slice(1) %></span>
                <input type="number" name="stock_<%= produit.id %>" placeholder="Stock initial" min="0">
            </div>
            <div>
                <label for="stock_<%= produit.id %>">Stock actuel : Pas disponible</label>
            </div>
        </div>
    <% }); %>

    <button type="submit">Créer Stand</button>
</form>

<script>
    // Intercepter la soumission du formulaire pour remplir automatiquement les champs non cochés avec 0
    document.getElementById('standForm').addEventListener('submit', function(event) {
        // Récupérer toutes les cases cochées
        const checkedCheckboxes = document.querySelectorAll('input[name="produits_checkbox"]:checked');
        // Pour chaque case cochée, activer le champ de stock associé
        checkedCheckboxes.forEach(checkbox => {
            const stockInput = document.querySelector(`input[name="stock_${checkbox.value}"]`);
            stockInput.disabled = false;
        });
    });
</script>

</html>
