<% include header.ejs %>

<div class="title-container">
    <div class="main-title">Modifier le stock de <%=idstand%></div>
</div>

<form action="/modifierStock?stand=<%=idstand%>" method="POST" class="form-container"> <!-- Ajoutez l'ID du stand à l'URL du formulaire -->
    <label for="nom" class="subtitle_stand">Nom du stand :</label>
    <input type="text" id="nom" name="nom" required><br>
    <label for="produitDuStand" class="subtitle_stand">Produits du stand :</label>
    <% produits.forEach(produit => { %>
        <div class="product-container">
            <input type="hidden" name="produits[]" value="<%= produit.id %>">
            <label for="stock_<%= produit.id %>"><%= produit.nom %> :</label>
            <input type="number" id="stock_<%= produit.id %>" name="stock_<%= produit.id %>"
                   placeholder="Nouveau stock" min="0" required><br>
        </div>
    <% }); %>

    <button type="submit">Modifier Stock</button>
</form>


<script>
    document.querySelector('form').addEventListener('submit', function(event) {
        let valid = true;

        // Validation du champ de saisie du nom du stand
        const nomInput = document.getElementById('nom');
        if (!nomInput.value) {
            valid = false;
            nomInput.classList.add('error-input');
            nomInput.insertAdjacentHTML('afterend', '<span class="error-message">Veuillez entrer un nom pour le stand.</span>');
        } else {
            nomInput.classList.remove('error-input');
            const errorMessage = nomInput.nextElementSibling;
            if (errorMessage) errorMessage.remove();
        }

        // Validation du nouveau stock pour chaque produit
        <% produits.forEach(produit => { %>
        const stock_<%= produit.id %> = document.getElementById('stock_<%= produit.id %>');
        if (!stock_<%= produit.id %>.value || stock_<%= produit.id %>.value < 0) {
            valid = false;
            stock_<%= produit.id %>.classList.add('error-input');
            stock_<%= produit.id %>.insertAdjacentHTML('afterend', '<span class="error-message">Le nouveau stock doit être un nombre positif.</span>');
        } else {
            stock_<%= produit.id %>.classList.remove('error-input');
            const errorMessage = stock_<%= produit.id %>.nextElementSibling;
            if (errorMessage) errorMessage.remove();
        }
        <% }); %>

        // Si l'une des validations échoue, on empêche la soumission du formulaire
        if (!valid) {
            event.preventDefault();
        }
    });
</script>

</html>
