<% include header.ejs%>

<div class="title-container">
    <div class="main-title"><%= title %></div>
</div>

<br>
<br>
<br>
<div class="title-container"><div class="subtitle">Selectionnez votre stand</div></div>

<br>
<br>
<br>
<!-- Affichage des stands -->
<div class="stands-container">
    <% nombreDeStands.forEach(function(stand, i) { %>


        <div class="stand" onclick="showStandInfo(<%= i %>)">
            <a href="/ajouterStock?stand=<%= stand.id %>"><img src="/images/stand.png" alt="Stand <%= i %>"></a>
            <span class="stand-name"> <%= stand.nom %></span>
        </div>
    <% }); %>

</div>
<br>
<br>
<br>
<div class="retour-boutton">
    <a href="/"><button class="submit-button">Retour au menu</button></a>
</div>


</body>
</html>
