

<% include header.ejs%>

<div class="title-container">
    <div class="main-title">Projet CashLess</div>
    <div class="subtitle"> Création du compte </div>
</div>
<br>
<br>
<form method="post" action="/modifBenevole/<%=benevole.id%>" class="form-container">
    <label class="subtitle_stand">Entrez un nom</label>
    <input type="text" class="input-box" id="nom" name="nom" value="<%=benevole.nom%>">
    <span id="nom-error" class="error-message"></span><br>
    <!-- Ajout d'un champ pour le prénom -->
    <label class="subtitle_stand">Entrez un prénom</label>
    <input type="text" class="input-box" id="prenom" name="prenom"value="<%=benevole.prenom%>">
    <span id="prenom-error" class="error-message"></span><br>
    <!-- Ajout d'un champ pour le login -->
    <label class="subtitle_stand">Entrez un Login</label>
    <input type="text" class="input-box" id="login" name="login"value="<%=benevole.login%>">
    <span id="login-error" class="error-message"></span><br>
    <!-- Ajout d'un champ pour le mot de passe -->
    <label class="subtitle_stand">Entrez un mot de passe</label>
    <input type="password" class="input-box" id="mdp" name="mdp">
    <span id="mdp-error" class="error-message"></span><br>
    <!-- Ajout d'un champ pour confirmer le mot de passe -->
    <label class="subtitle_stand">Confirmez le mot de passe</label>
    <input type="password" class="input-box" id="mdpConfirm" name="mdpConfirm">
    <span id="mdpConfirm-error" class="error-message"></span><br>
    <!-- Ajout d'un champ pour sélectionner le droit -->
    <label class="subtitle_stand">Entrez un droit</label>
    <select class="input-box" id="droit" name="droit" ">
        <option value="1">Créditeur</option>
        <option value="2">Vendeur</option>
        <option value="3">Admin</option>
    </select>
    <span id="droit-error" class="error-message"></span><br>
    <!-- Ajout d'un champ pour sélectionner le stand -->
    <label class="subtitle_stand">Choisissez un stand</label>
    <select class="input-box" id="stand" name="stand">
        <% stands.forEach(stand => { %>
            <option value="<%= stand.id %>"><%= stand.nom %></option>
        <% }); %>
    </select>
    <span id="stand-error" class="error-message"></span><br>
    <!-- Bouton de soumission du formulaire -->
    <button type="submit">Créer le compte</button>
</form>
<br><br>
<div class="retour-boutton">
    <a href="/choisirBenevole"><button class="submit-button">Retour au choix de benevole</button></a>
</div>
<br><br>
</body>
<script>
    document.querySelector('form').addEventListener('submit', function(event) {
        const loginInput = document.getElementById('login');
        const mdpInput = document.getElementById('mdp');
        const mdpConfirmInput = document.getElementById('mdpConfirm'); // Champ de confirmation du mot de passe
        const prenomInput = document.getElementById('prenom');
        const nomInput = document.getElementById('nom');
        const droitInput = document.getElementById('droit');
        const standInput = document.getElementById('stand'); // Champ pour le stand
        let valid = true;

        // Validation du champ de saisie du prénom
        if (!prenomInput.value) {
            valid = false;
            prenomInput.classList.add('error-input');
            document.getElementById('prenom-error').textContent = 'Veuillez entrer un prénom.';
            document.getElementById('prenom-error').style.color = '#ff0000'; // Couleur rouge
        } else {
            prenomInput.classList.remove('error-input');
            document.getElementById('prenom-error').textContent = '';
        }

        // Validation du champ de saisie du nom
        if (!nomInput.value) {
            valid = false;
            nomInput.classList.add('error-input');
            document.getElementById('nom-error').textContent = 'Veuillez entrer un nom.';
            document.getElementById('nom-error').style.color = '#ff0000'; // Couleur rouge
        } else {
            nomInput.classList.remove('error-input');
            document.getElementById('nom-error').textContent = '';
        }

        // Validation du champ de saisie du login
        if (!loginInput.value) {
            valid = false;
            loginInput.classList.add('error-input');
            document.getElementById('login-error').textContent = 'Veuillez entrer un login.';
            document.getElementById('login-error').style.color = '#ff0000'; // Couleur rouge
        } else {
            loginInput.classList.remove('error-input');
            document.getElementById('login-error').textContent = '';
        }

        // Validation du champ de saisie du mot de passe
        if (!mdpInput.value) {
            valid = false;
            mdpInput.classList.add('error-input');
            document.getElementById('mdp-error').textContent = 'Veuillez entrer un mot de passe.';
            document.getElementById('mdp-error').style.color = '#ff0000'; // Couleur rouge
        } else {
            mdpInput.classList.remove('error-input');
            document.getElementById('mdp-error').textContent = '';
        }

        // Validation du champ de confirmation du mot de passe
        if (mdpConfirmInput.value !== mdpInput.value) {
            valid = false;
            mdpConfirmInput.classList.add('error-input');
            document.getElementById('mdpConfirm-error').textContent = 'Les mots de passe ne correspondent pas.';
            document.getElementById('mdpConfirm-error').style.color = '#ff0000'; // Couleur rouge
        } else {
            mdpConfirmInput.classList.remove('error-input');
            document.getElementById('mdpConfirm-error').textContent = '';
        }

        // Validation du champ pour les droits
        if (!droitInput.value) {
            valid = false;
            droitInput.classList.add('error-input');
            document.getElementById('droit-error').textContent = 'Veuillez sélectionner les droits.';
            document.getElementById('droit-error').style.color = '#ff0000'; // Couleur rouge
        } else {
            droitInput.classList.remove('error-input');
            document.getElementById('droit-error').textContent = '';
        }

        // Validation du champ pour le stand
        if (!standInput.value) {
            valid = false;
            standInput.classList.add('error-input');
            document.getElementById('stand-error').textContent = 'Veuillez choisir un stand.';
            document.getElementById('stand-error').style.color = '#ff0000'; // Couleur rouge
        } else {
            standInput.classList.remove('error-input');
            document.getElementById('stand-error').textContent = '';
        }

        // Si l'une des validations échoue, on empêche la soumission du formulaire
        if (!valid) {
            event.preventDefault();
        }
    });
</script>


</html>
