<% include header.ejs %>

<div class="title-container">
    <div class="main-title"><%= title %></div>
</div>

<br>
<br>
<br>
<form action="/commandeBenevole/<%=standId%>" method="POST" class="form-container" id="standForm">
    <div class="product-container">
        <% produits.forEach(produit => { %>
            <div>
                <label class="product_title" for="stock_<%= produit.id %>"><%= produit.nom.charAt(0).toUpperCase() + produit.nom.slice(1) %></label>
                <input type="number" name="idproduit_<%= produit.id %>" placeholder="Nombre de produits demandés" min="0" hidden value="<%=produit.id%>">
                <br>
                <label for="stock_<%= produit.id %>">Stock du Produit : <%= produit.stock %></label>
                <br>
                <label for="prix_<%= produit.id %>">Prix du Produit : <%= produit.prix %> €</label>
                <br>
                <label for="quantite_<%= produit.id %>">Combien de produits sont demandés ? :</label>
                <br>
                <input type="number" name="quantite_<%= produit.id %>" placeholder="Nombre de produits demandés" min="0">
                <p>____________________________</p>
            </div>
        <% }); %>
    </div>
    <button type="submit">Ajouter Produit</button>
</form>

<br>
<br>
<br>
<div class="retour-boutton">
    <a href="/vente"><button class="submit-button">Retour aux stands</button></a>
</div>




<script>
    // Fonction pour incrémenter la quantité
    function incrementQuantity(productId) {
        var quantityElement = document.getElementById('quantity_' + productId);
        var currentQuantity = parseInt(quantityElement.innerText);
        quantityElement.innerText = currentQuantity + 1;
    }

    // Fonction pour décrémenter la quantité
    function decrementQuantity(productId) {
        var quantityElement = document.getElementById('quantity_' + productId);
        var currentQuantity = parseInt(quantityElement.innerText);
        if (currentQuantity > 0) {
            quantityElement.innerText = currentQuantity - 1;
        }
    }
</script>

</body>
</html>
